.input {
  width: 300px;
  margin-right: 5px;
}

.btn {
  padding: 7px;
  background-color: antiquewhite;
  border: none;
  border-radius: 7px;
  margin: 5px;
  text-decoration: none;
  color: darkgray;
  font-size: 15px;
  cursor: pointer;
}

/* .backBtn {
  text-decoration: none;
  color: darkgray;
  font-size: 15px;
} */

.btn:hover {
  background-color: cadetblue;
  color: aliceblue;
}