.btn {
  padding: 7px;
  background-color: antiquewhite;
  border: none;
  border-radius: 7px;
  margin: 5px;
  text-decoration: none;
  color: darkgray;
  cursor: pointer;
}

.btn:hover {
  background-color: cadetblue;
  color: aliceblue;
}
