.layoutWrap {
}

.linkWrap {
  border-bottom: 1px solid black;
}

.link {
  text-decoration: none;
  color: aliceblue;
  background-color: cornflowerblue;
  border-radius: 4px;
  padding: 7px;
  margin-left: 2px;
  margin-right: 2px;
}

.link.active {
  background-color: darksalmon;
}

.menu {
  list-style: none;
  display: flex;
  /* justify-content: space-around; */
}
